a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, 
caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, 
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, 
ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, 
time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    *zoom: 1;
    _zoom: 1;
    -webkit-text-size-adjust: none;
}
body>div{
    margin: 0 auto;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}